.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #0058BE;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.9;
}