.setting-page{

padding:30px;

max-width:900px;

margin:auto;

}




.setting-header{

margin-bottom:30px;

}



.setting-header h1{

font-size:32px;

font-weight:700;

margin-bottom:8px;

}



.setting-header p{

color:#777;

font-size:15px;

line-height:1.6;

}




.setting-card{

background:white;

padding:22px;

border-radius:18px;

margin-bottom:22px;

box-shadow:0 6px 20px rgba(0,0,0,.08);

}




.setting-card h2{

font-size:19px;

margin-bottom:18px;

}





/* ACCOUNT */


.account-box{

display:flex;

align-items:center;

gap:15px;

padding:15px;

background:#f7f9fc;

border-radius:15px;

cursor:pointer;

transition:.3s;

}



.account-box:hover{

background:#eaf2ff;

}



.account-box img{

width:65px;

height:65px;

border-radius:50%;

object-fit:cover;

}



.account-box h3{

margin:0;

font-size:17px;

}



.account-box p{

color:#777;

font-size:13px;

}



.account-box span{

color:#1877f2;

font-size:12px;

}







/* ITEM */


.setting-item,
.accordion-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:16px 5px;

border-bottom:1px solid #eee;

cursor:pointer;

}



.setting-left{

display:flex;

align-items:center;

gap:15px;

}



.setting-left svg{

font-size:23px;

color:#1877f2;

}



.setting-left h3{

font-size:15px;

margin:0;

}



.setting-left p{

font-size:13px;

color:#777;

margin-top:5px;

}





select{

padding:8px 12px;

border-radius:10px;

border:1px solid #ddd;

}





/* ACCORDION */


.accordion-content{

background:#f8faff;

padding:18px;

border-radius:12px;

margin:10px 0;

font-size:14px;

line-height:1.7;

color:#555;

}



.accordion-content h4{

color:#1877f2;

margin-bottom:10px;

}





/* MOBILE */


@media(max-width:768px){


.setting-page{

padding:15px;

}


.setting-header h1{

font-size:24px;

}


.setting-header p{

font-size:13px;

}



.setting-card{

padding:15px;

}



.setting-left{

gap:10px;

}



.setting-left svg{

font-size:20px;

}



.setting-left h3{

font-size:14px;

}



.setting-left p{

font-size:12px;

}


select{

font-size:12px;

padding:6px 8px;

}


.account-box img{

width:55px;

height:55px;

}


}